    a {
        text-decoration: none;
        font-weight: bold;
        color: #7a7abf;
    }

    #hide_e {
        display: none;
    }
    #elevation {
             display: none;
            }
    #hide_p {
    display: none;
        }
#photos {
display: none;
}
#show_e {
display: block;
}


#show_p {
display: block;
}

.fakelink {
cursor:pointer;
text-decoration: none;
font-weight: bold;
color: #E03A3E;
}